<p id="notice"><%= notice %></p>

<p>
  <h4>Name:</h4>
  <%= @category.name %>
</p>

<p>
  <h4>Event count:</h4>
  <%= @category.events.count %>
</p>

<h4>Events in this category</h4>
<ul>
	<% @category.events.each do |event| %>
		<li><%= link_to(event.name, event_path(event)) %></li>
	<% end %>
</ul> 


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
